### miniFlask compiler output ###
generated/
output/
compiler_output/

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
lib/

### python execution
.venv/
### some maven bullshit
target/
### Mac OS ###
.DS_Store
### semantic test build output ###
build/
